Scrapy==0.24.4
ScrapyElasticSearch==0.4
Twisted==14.0.0
argparse==1.2.1
beautifulsoup4==4.3.2
cffi==0.8.6
cryptography==0.5.4
cssselect==0.9.1
gevent==1.0.1
greenlet==0.4.3
grequests==0.2.0
lxml==4.6.3
pyOpenSSL==0.14
pycparser==2.10
pyes==0.99.4
python-dateutil==2.2
queuelib==1.2.2
requests==2.3.0
six==1.7.3
urllib3==1.9
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.1
scrapyd
